@model A21WebApp.Models.CrenoHoraire
@{
    var ensignants = ViewData["Enseignants"] as IEnumerable<Enseignant>;
}
<hr />
    <div class="form-group">
        <input asp-for="ID" class="form-control" name="ID_@Model.ID" type="hidden" value="@Model.ID" readonly />
    </div>
    <div class="form-group">
        @*<label asp-for="Periode" class="control-label"></label>*@
        <input asp-for="Periode" class="form-control" name="Periode_@Model.ID" type="hidden">      
    </div>
   <div class="form-group">
        <label asp-for="EnseignantID" class="control-label">Cours</label>
        <select data-val="true" data-val-required="The DayOfWeek field is required." id="EnseignantID" name="EnseignantID_@Model.ID">
                <option value="0">Choisir un cours</option>
                @foreach (Enseignant e in ensignants)
                {
                    if (e.Id == Model.EnseignantID)
                    {
                        @*<option selected="selected" value="@e.Id">@e.Nom @e.Prenom</option>*@
                          <option selected="selected" value="@e.Id">@e.Cours -- @e.Prenom @e.Nom </option>
                    }
                    else
                    {
                <option value="@e.Id">@e.Cours -- @e.Prenom @e.Nom</option>
                    }
                }  
        </select>
  </div>
  <div class="form-group">
        <input asp-for="Jours" class="form-control" name="Jours_@Model.ID" type="hidden" />
   </div>
           
  <div class="form-group">
        <input asp-for="EmploiTempsID" class="form-control" name="EmploiTempsID_@Model.ID" type="hidden" />
   </div>


